<% layout('layouts/boilerplate') -%>
    <form action="/campgrounds/<%= campGroundEdit._id %>?_method=PUT" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%= campGroundEdit.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campGroundEdit.location %>">
        </div>
        <button>Save Changes</button>
    </form>
    <div>
        <a href="/campgrounds/<%= campGroundEdit._id %>">Go back to campground</a>
    </div>